.Rproj.user
.Rhistory
.RData
.Ruserdata
out/ncvr/hash/
out/ncvr/combine/
out/ncvr/mms/
out/ncvr_results/chain/
out/sadinle_sim/
out/sadinle_K_sim/
out/sadinle_sim_ml/
out/sadinle_sim_ml_12/
out/sadinle_sim_ml_12_default/
out/sadinle_sim_ml_12_mean_1/
out/sadinle_double_dupes/
out/xtmp/
logs/
figures/
